<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::section})">

<section>

    <h2 th:text="${title}">Résultat</h2>

    <div th:if="${rows == null or #lists.isEmpty(rows)}"
         class="alert alert-warning">
        Aucun résultat
    </div>

    <div th:if="${rows != null and !#lists.isEmpty(rows)}">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th th:each="key : ${rows[0].keySet()}"
                    th:text="${key}">
                    Colonne
                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="row : ${rows}">
                <td th:each="key : ${row.keySet()}"
                    th:text="${row[key]}">
                    valeur
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</html>
