<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}"
th:href="@{/css/debug-layout.css}">
<section>
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 th:text="${title}">Titre</h2>
            <a class="btn btn-secondary" th:href="@{/}">Accueil</a>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered"
                   th:if="${rows != null and !rows.isEmpty()}">
                <thead class="table-dark">
                <tr>
                    <th th:each="col : ${columns}"
                        th:text="${col}">Col
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="row : ${rows}">
                    <td th:each="cell : ${row.values()}"
                        th:text="${cell}">val
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>